.road-map {
  .horizontal-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }

  .horizontal-item {
    display: flex;
    flex: 0 0 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    background-color: lightblue;
    position: relative;
    gap: 40px;
    padding: 40px;
    transition: background-color 0.5s ease, color 0.3s ease;

    // nth-child 짝수 스타일
    &:nth-child(even) {
      background-color: lightcoral;
    }

    // hover 효과
    &:hover {
      background-color: #0056b3;
      color: #fff;

      img {
        transform: scale(1.5) rotate(20deg); /* 확대 및 회전 */
      }

      p {
        color: #fff;
        transform: translateY(-10px); /* 호버 시 텍스트 이동 */
      }
    }

    img {
      width: 300px;
      height: 300px;
      transition: transform 0.3s ease, rotate 0.5s ease;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      color: #333;
      transition: color 0.3s ease, transform 0.5s ease;
    }
  }
}

.chapter__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
