.road-map {
  .horizontal-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }

  .horizontal-item {
    display: flex;
    flex: 0 0 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    transition: background-color 0.3s ease;
    background-color: lightblue;
    position: relative;
    gap: 40px;

    &:nth-child(even) {
      background-color: lightcoral;
    }

    img {
      width: 100px; /* 이미지 크기 조정 */
      height: 100px;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.3); /* 호버 시 이미지 확대 */
    }

    &:hover {
      background-color: #007bff; /* 호버 시 배경색 변경 */
      color: #fff;
    }
  }
}
