.tag__list {
  display: flex;
  gap: 4px;
  margin: 12px 0;
}

.tag__item {
  border-radius: 8px;
  padding: 2px 6px;
  border: 1px solid #fff;
}

/* 스크롤바 커스텀 */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
