/* GlobalNav.scss */
.global-nav {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    li {
      a {
        color: #333;
        font-weight: 700;
        transition: color 0.3s;

        &:hover,
        &.active {
          color: #007bff;
        }
      }

      &.active a {
        color: #007bff;
      }
    }
  }
}
