@import "./../../scss/breakPoint";

/* GlobalNav.scss */
.global-nav {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  z-index: 9999;
  @include laptop {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    li {
      position: relative;
      &.active {
        -webkit-animation: rotate-center 0.4s ease-in-out both;
        animation: rotate-center 0.4s ease-in-out both;
      }

      &:hover .tooltip {
        display: block;
      }

      .tooltip {
        text-align: center;
        min-width: 80px;
        display: none;
        position: absolute;
        right: 140%;
        top: 50%;
        transform: translateY(-50%);
        background: #333;
        color: #fff;
        padding: 4px 8px;
        border-radius: 4px;
        z-index: 10;
      }

      &.active a {
        color: var(--primary-color);
      }
    }
  }
  &__link {
    color: #666;
    transition: color 0.3s;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
