.portfolio {
  background-image: var(--first-gradient);
  &__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

/* items */
.portfolio {
  &__img-wrapper {
    border-radius: 18px;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: all 0.6s var(--transition);
  }
  &__items:hover .portfolio__img {
    transform: scale(1.4);
  }
  &__category {
    color: var(--primary-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
  }
  &__category,
  &__description {
    margin-top: 30px;
  }
  &__title {
    font-size: var(--h4-font-size);
  }
  &__description {
    min-height: 125px;
  }
}

/* list */
.portfolio__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 60px;
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    &:hover {
      color: var(--primary-color);
    }
  }
}

/* list */
.portfolio__list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 60px;
  &-item {
    position: relative;
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    &:hover {
      color: var(--primary-color);
    }
  }
}

.active-work {
  color: var(--primary-color);
  ::before {
    width: 100%;
  }
}

.card-two {
  border-radius: 18px;
  padding: 20px;
}

/* 체크박스 */
.checkbox-style input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-style label {
  position: relative;
  padding: 0 20px;
  line-height: 2;
  display: inline-flex;
  cursor: pointer;
}

.checkbox-style label:before {
  position: absolute;
  box-sizing: border-box;
  content: "";
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  // border: 2px solid #666;
  border-radius: 4px;
  z-index: -1;
}

.checkbox-style input[type="checkbox"]:checked + label {
  color: #fff;
}
.checkbox-style input[type="checkbox"]:checked + label:before {
  top: 0;
  width: 100%;
  padding: 12px;
  background: var(--primary-color);
  border: 0;
}

.checkbox-style label,
.checkbox-style label::before {
  transition: 0.25s all ease;
}
