@import "./../../scss/breakPoint";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--container-color);
  padding: 20px;
  border-radius: 4px;
  outline: none;
  max-width: 1200px;
  width: 90%;
  max-height: 80vh;
  height: 100%;
  overflow-y: auto;
  animation: slide-top 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) both;
}

@keyframes slide-top {
  0% {
    transform: translate(-50%, -50%) translateY(40px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
}

/* 콘텐츠 내용 */

.modal__content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  @include mobile {
    flex-direction: column;
  }
}

.project-modal__info {
  position: relative;
}

.modal__close-btn {
  position: absolute;
  right: 0;
  font-size: 30px;
}
