/* 공통 스타일 */
.cv {
  background-color: #fff;
  color: #333;

  &__container {
    padding: 20px;
  }

  &__top {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    .profile {
      display: flex;
      align-items: center;

      &__img-container {
        margin-right: 20px;
      }

      &__img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }

      &__info {
        flex: 1;
      }

      &__name {
        font-size: 1.8em; // 강조된 이름 크기
        font-weight: bold;
      }

      &__highlight {
        color: #0073e6;
      }

      &__description {
        font-size: 1.2em;
        margin-top: 10px;
        color: #555;
      }
    }
  }

  &__bottom {
    flex: 1;
    display: flex;
    padding: 20px;
    // background-color: #fafafa;

    .cv__left {
      flex: 1;
      padding-right: 10px;
      border-right: 1px solid #ddd;

      .details {
        margin-bottom: 20px;

        &__container {
          display: flex;
          flex-direction: column;

          .detail-item {
            margin-bottom: 15px;
            font-size: 1.3em;
            font-weight: bold;

            .detail-number {
              font-weight: bold;
              margin-right: 5px;
              color: #333;
            }
          }

          .detail-content {
            margin-top: 10px;

            .detail-field {
              margin-bottom: 15px;

              .field-title {
                font-weight: bold;
                margin-bottom: 5px;
              }

              .field-link {
                color: #0073e6;
                text-decoration: none;
              }

              .field-list {
                list-style: none;
                padding: 0;
              }
            }
          }
        }
      }
    }

    .cv__right {
      flex: 2;
      padding-left: 10px;

      .profile-details,
      .project-history,
      .degree {
        margin-bottom: 20px;

        &-detail {
          margin-bottom: 15px;

          .project-title,
          .degree-title {
            font-weight: bold;
            font-size: 1.3em;
          }

          .project-duration,
          .degree-duration {
            color: #999;
            font-size: 0.9em;
          }

          .project-description,
          .degree-description {
            margin-top: 10px;
            color: #555;
          }
        }
      }
    }
  }
}

/* Skill Bars 스타일 */
.skill-bar {
  margin-bottom: 10px;

  .skill-name {
    font-weight: bold;
  }

  .skill-level {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #0073e6;
    margin-right: 5px;
  }
}
