.inner {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.cv {
  background-color: #fff;
  color: #333;
  &__container {
    padding: 20px 0;
  }
  &__top {
    padding: 20px 0;
    .profile {
      display: flex; /* 프로필을 flex 컨테이너로 설정하여 정렬 */
      align-items: center; /* 수직 정렬을 중앙으로 설정 */
      gap: 20px;
      &__img-container {
      }
      &__img {
        border-radius: 50%; /* 이미지를 원형으로 만듦 */
        width: 150px; /* 이미지 너비 설정 */
        height: 150px; /* 이미지 높이 설정 */
      }
      &__info {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
      &__name {
        font-size: 2rem;
        font-weight: 700;
      }
      &__description {
        font-size: 1.2em; /* 설명의 글자 크기를 설정 */
        color: #666; /* 설명의 글자색을 중간 회색으로 설정 */
      }
    }
  }
  &__bottom {
    display: flex; /* 하단 섹션을 flex 컨테이너로 설정 */
  }
}

/* 오른쪽 */
.cv__right {
  flex: 2; /* 오른쪽 섹션의 너비를 유연하게 설정 */

  .profile-details,
  .project-history,
  .degree {
    &__detail {
      .project-detail__title,
      .degree-detail__title {
      }

      .project-detail__duration,
      .degree-detail__duration {
      }

      .project-detail__description,
      .degree-detail__description {
      }
    }
  }
}
