.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #333;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.nav__list {
  display: flex;
  gap: 8px;

  li {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--primary-color);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease-in-out;
    }
    &.active::after {
      width: 100%;
      transform: scaleX(1);
      transform-origin: left;
    }
    a {
      color: #fff;
      font-weight: 700;
      position: relative;
      transition: color 0.3s;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: var(--primary-color);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-in-out;
      }
      &:hover::after,
      &.active::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    &.active a {
      color: var(--primary-color);
    }
  }
}

.logo {
  display: block;
  width: 200px;
  img {
    width: 100%;
  }
}
