@import "../../../scss/breakPoint";

.home {
  background-image: var(--first-gradient);
  padding-bottom: 180px;

  &__left {
    min-width: 550px;
    width: 100%;
  }

  &__wrapper {
    min-height: 100vh;
    display: grid;
    align-items: center;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  &__subtitle,
  &__job {
    font-weight: 700;
  }

  &__subtitle,
  &__job span {
    font-size: var(--small-font-size);
  }

  &__subtitle span,
  &__job span {
    color: var(--primary-color);
  }

  &__job b {
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    color: #fff;
    margin-left: 10px;
  }

  &__title {
    font-size: var(--biggest-font-size);
    line-height: 1.2;
    margin-top: 15px;
  }

  &__text {
    font-size: var(--large-font-size);
    margin-block: 40px 28px;
    // max-width: 400px;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
  }

  &__social-link {
    display: flex;
    align-items: center;
    color: var(--title-color);
    font-size: var(--h5-font-size);
    transition: all 0.7s var(--transit);
    &:hover {
      color: var(--primary-color);
    }
  }

  &__btns {
    display: flex;
    gap: 70px;
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
  }

  &__banner {
    position: relative;
    padding-bottom: 100%;
    z-index: 1;
    cursor: pointer;
    &__front,
    &__back {
      position: absolute;
      backface-visibility: hidden;
      transition: 1s;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
    &__front {
      background-color: var(--primary-color);
      transform: rotateY(0deg);
    }
    &__back {
      background-color: #333;
      transform: rotateY(-180deg);
    }
    &.flipped &__front {
      transform: rotateY(180deg);
    }
    &.flipped &__back {
      transform: rotateY(0deg);
    }
  }

  &__profile {
    position: absolute;
    bottom: 0;
    height: 800px;
    border-radius: 500px;
    object-fit: cover;
  }

  &__data {
    position: absolute;
    border: 2px solid var(--border-color);
    background: var(--container-color);
    box-shadow: var(--shadow);
    padding-inline: 20px;
    width: 250px;
    height: 82px;
    border-radius: 82px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    &-one {
      bottom: 20%;
      left: -4%;
    }
    &-two {
      bottom: 12%;
      right: 6%;
    }
  }

  &__data .text-lg,
  &__data .text-sm {
    width: 50%;
    color: var(--title-color);
    font-weight: 700;
  }

  &__data .text-lg {
    text-align: center;
    font-size: 37px;
  }

  &__data .text-sm {
    font-size: 13px;
    line-height: 1.5em;
  }

  &__data .text-lg b,
  &__data .text-sm span {
    color: var(--primary-color);
  }

  &__data .text-lg b {
    position: relative;
    top: -4px;
  }
}

.btn {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: var(--border-color);
  }
}

.shape {
  position: absolute;
  filter: invert(1);
  opacity: 0.6;
}

.shape {
  &__1 {
    width: 226px;
    height: 226px;
    top: 0%;
    right: 0%;
  }
  &__2 {
    bottom: 8%;
    left: -16%;
  }
  &__3 {
    bottom: 0;
    right: -2%;
  }

  &__2,
  &__3 {
    width: 141px;
    height: 141px;
  }
}

.scroll-down {
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: capitalize;
  z-index: 99;
  &__icon {
    margin-top: 20px;
    text-align: center;
    animation: upAndDown 1s infinite;
  }
}
@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@include laptop {
  .home {
    &__left {
      width: 100%;
    }

    &__img-wrapper {
      display: none;
    }
  }
}
