@import "../../../scss/breakPoint";

$leftWidth: 300px;

.contact-content {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  @include tablet {
    flex-direction: column;
  }

  &__info {
    width: $leftWidth;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    @include mobile {
      display: none;
    }
  }

  &__form {
    width: calc(100% - $leftWidth);
    @include tablet {
      width: 100%;
    }
  }
}

.contact-info {
  &__item {
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
  }
  &__icon {
    font-size: 24px;
  }
  &__details {
  }
  &__label {
    font-weight: 500;
  }

  &__value {
    font-size: 1rem;
    color: #888;
  }
}

.contact-form {
  &__elements {
    display: flex;
    flex-direction: column;
  }

  &__group {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  &__textarea {
    resize: none;
  }

  &__checkbox {
    margin-left: 10px;
  }

  &__submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
}
