.post-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-detail__header {
  display: flex;
  justify-content: space-between;

  &__actions-left {
    display: flex;
    gap: 10px;
  }

  &__actions-right {
    display: flex;
    gap: 10px;
  }
}

.post-detail__button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &--delete {
    background-color: #f44336;
  }

  &--like {
    background-color: #007bff;
  }
}

.post-detail__content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    &__title {
      font-size: 32px;
      font-weight: 700;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    &__user {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__profile {
      display: flex;
      flex-direction: column;

      &__username {
        font-weight: bold;
      }

      &__meta {
        display: flex;
        gap: 10px;
      }
    }
  }

  &__body {
    line-height: 1.5;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__user-info {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.post-detail__comment-info {
  display: flex;
  gap: 10px;
}

.post-detail__comment-wrap {
  padding: 20px;
  border: 1px solid #333;
  border-radius: 4px;
}

.post-detail__comment__bottom__input {
  display: flex;
  height: 50px;

  textarea {
    flex-grow: 1;
    border: 0;
  }
}
