// variable

:root {
  --primary-color: #29a385;
  --hover-color: #42b973;
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 92%);
  --bg-color: #1f252d;
  --bg-color-alt: hsl(213, 10%, 21%);
  --bg-color-alt: orange;
  --container-color: #0f1520;
  --border-color: hsl(210, 2%, 65%);
  --red-color: #f44336;
  --first-gradient: linear-gradient(
    0deg,
    var(var(--bg-color-alt)) 0%,
    var(var(--bg-color)) 100%
  );
  --second-gradient: linear-gradient(
    180deg,
    var(var(--bg-color-alt)) 0%,
    var(var(--bg-color)) 100%
  );
  --third-gradient: linear-gradient(
    180deg,
    var(var(--bg-color)) 0%,
    var(var(--bg-color)) 100%
  );

  --biggest-font-size: 5.625rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 1.875rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.375rem;
  --largest-font-size: 1.3125rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.9375rem;
  --smaller-font-size: 0.875rem;
  --tiny-font-size: 0.8125rem;
  /* 그림자 */
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* 전환 */
  --transition: cubic-bezier(0.3, 0, 0.3, 1);
}

button,
input,
body {
  font-size: var(--normal-font-size);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
  @media (max-width: 410px) {
    min-width: 410px;
    overflow-x: hidden;
  }
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 700;
}

ul {
  list-style: none;
}

p {
  line-height: 1.7;
}

/* 컴포넌트 */
.container {
  max-width: $desktop;
  padding-inline: 24px;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 24px;
}

.text-cs {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn,
.hero__link {
  color: var(--title-color);
  font-size: var(--tiny-font-size);
  font-weight: 700;
  height: 56px;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
}

.btn {
  position: relative;
  border: 2px solid var(--border-color);
  padding-inline: 40px;
  border-radius: 56px;
  box-shadow: var(--shadow);
  &::before {
    content: "";
    position: absolute;
    inset: 2px;
    background-color: var(--primary-color);
    border-radius: inherit;
    transform: scale(0.3);
    filter: blur(10px);
    opacity: 0;
    transition: all 0.7s var(--transition);
    z-index: -1;
  }
  &:hover::before {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

.section {
  min-height: 100vh;
  padding-bottom: 220px;
  &__title,
  &__subtitle {
    text-align: center;
  }
  &__title {
    font-size: var(--h1-font-size);
  }
  &__subtitle {
    color: var(--primary-color);
    font-size: var(--smaller-font-size);
    text-transform: uppercase;
    margin-bottom: 60px;
    span {
      font-family: var(--second-font);
      color: var(--title-color);
      font-size: var(--h3-font-size);
      text-transform: capitalize;
      margin-left: 10px;
    }
  }
}

.card {
  background-color: var(--container-color);
  overflow: hidden;
  text-align: left;
  &-one {
    padding: 30px 35px;
    border-radius: 18px;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--title-color);
  font-weight: 700;
  &__icon {
    color: var(--primary-color);
    margin-left: 20px;
    transition: all 0.3s var(--transition);
  }
  &:hover .link__icon {
    margin-left: 15px;
  }
}

.c__shape {
  right: -24px;
  bottom: -24px;
  widows: 141px;
  height: 141px;
}
